// Core
@import "core/reset.less";
@import "core/variables.less";
@import "core/mixins.less";
@import "core/template.less";
@import "core/typo.less";

//fonts

// Here we go

@font-face {
  font-family: Designosaur;
  src: url(/src/fonts/designosaur.ttf)

}

@font-face {
  font-family: OpenSansBold;
  src: url(/src/fonts/OpenSans-Bold.ttf)
}

@font-face {
  font-family: OpenSansLight;
  src: url(/src/fonts/OpenSans-Light.ttf)
}

.header-section {
  background-color: #f6f6f6;
  height: 135px;
}

.logo {
  height: 135px;
  background: url("../img/logo.png") center no-repeat;
  background-size: contain;
}

.is-font-OpenSansBold {
  font-family: OpenSansBold !important;
}

.is-font-OpenSansLight {
  font-family: OpenSansLight !important;
}

.is-font-Designosaur {
  font-family: Designosaur !important;
}

.is-blue {
  color: #1c9cd6;

}

.is-height-450 {
  height: 450px !important;
}

.is-vertical-center {
  vertical-align: middle;
}

.is-top-35 {
  margin-top: 35px;
}

.is-top-25 {
  margin-top: 25px;
}

.btn-blue {
  outline: none;
  background-color: #1c9cd6;
  color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 0;
}

.btn-dark {
  outline: none;
  background-color: #255c96;
  color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 0;
}

.btn-white {
  background-color: transparent;
  padding: 10px 15px 10px 15px;
  border-radius: 0;

}

.is-bold {
  font-weight: bold;
}

.menu-section {
}

.main-menu li {
  border-left: 1px solid #000;
  list-style: none;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  margin: 7px 0 0 0;
}

.is-no-padding {
  padding: 0 !important;
}

.first {
  border-left: none !important;
}

.search-field {
  border-radius: 0;
  border: 1px solid black;
  border-left: none;
  border-right-color: transparent;
  border-top-color: transparent;
  padding: 8px 0 9px 0 !important;
  outline: none;
  margin: 5px -5px 0 -5px;
}

.is-search-button {
  padding: 5px 10px 5px 10px;
  margin: 5px 0 0 0;
}

.is-search-icon {
  padding: 8px 10px 9px 10px;
  border: 1px solid black;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  margin: 5px 0 0 0;
}

.is-margin-right-3 {
  margin-right: 3px;
}

.slider-section {

}

@import url(http://fonts.googleapis.com/css?family=Varela+Round);

.slides {
  padding: 0;
  width: 100%;
  height: 655px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide {
  background: url("../img/slide.jpg");
  top: 0;
  opacity: 0;
  width: 100%;
  height: 655px;
  display: block;
  position: absolute;

  transform: scale(0);

  transition: all .7s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
}

.nav label {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;

  transition: opacity .2s;

  color: #FFF;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, .3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label {
  opacity: 0.5;
}

.nav label:hover {
  opacity: 1;
}

.nav .next {
  right: 0;
}

input:checked + .slide-container .slide {
  opacity: 1;

  transform: scale(1);

  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label {
  display: block;
}

.nav-dots {
  width: 100%;
  padding-top: 400px;
  padding-right: 830px;
  height: 11px;
  display: block;
  text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: white;
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: #1c9cd6;
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
  background: #1c9cd6;
}

.is-color-white {
  color: white !important;
}

.is-blue-1 {
  background-color: #4e89c5 !important;
}

.is-blue-2 {
  background-color: #437db9 !important;
}

.is-blue-3 {
  background-color: #1f4f82 !important;
}

.is-blue-4 {
  background-color: #143b65 !important;
}

.middle-menu-btn {
  padding: 15px 20px 15px 20px !important;;
}

.is-border-radius-zero {
  border-radius: 0 !important;
}

.is-no-border {
  border: none !important;
}

.is-margin-top-minus-40 {
  margin-top: -40px!important;
}

.is-white-bg {
  background-color: white !important;
}

.img_b1_1 {
  max-width: 100%;
}

.is-margin-top-50 {
  margin-top: 50px;
}

.is-padding-side-30 {
  padding: 0 30px 0 30px;
}

.is-width-82 {
  width: 82%;
}

.is-padding-bottom-15 {
  padding-bottom: 15px;
}

.is-padding-top-10 {
  padding-top: 10px;

}

.is-min-height-420 {
  min-height: 420px;
  height: 420px;
}

.is-full-width {
  width: 100%;
}

.is-bg-light-grey {
  background-color: #f2f2f2;
}

.is-margin-top-minus-350 {
  margin-top: -350px;
}

.is-height-400 {
  height: 350px;
}

.is-height-250 {
  height: 250px;
}

.is-width-50 {
  width: 49%;
}

.is-block {
  display: block;
}

.is-margin-top-10 {
  margin-top: 10px !important;
}

.is-height-40 {
  height: 40px;
}

.is-margin-left-10 {
  margin-left: 8px;
}

.is-color-grey {
  color: #a6a6a6;
}

.is-padding-left-10 {
  padding-left: 10px;
}

.is-blue-bg {
  background: url("../img/block-3-bg.jpg") center no-repeat;
}

.is-margin-left-50 {
  padding-left: 50px;
}

.is-margin-bottom-10 {
  margin-bottom: 10px;
}

.timeline-section {
  background-color: #f2f2f2;
  padding-bottom: 30px;
}

.timeline {
  position: relative !important;
  width: 50px !important;
  height: 1090px !important;
  background-image: url("../img/B4_timeline.png");
}

.is-one {
  top: 13px;
  left: 8px;
}

.is-two {
  top: 465px;
  left: 8px;
}

.is-three {
  top: 566px;
  left: 8px;
}

.is-four {
  top: 668px;
  left: 8px;
}

.is-five {
  top: 846px;
  left: 8px;
}

.is-six {
  top: 1005px;
  left: 8px;
}

.is-round {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  outline: none;
  font-size: 40px;
  background-color: white;
}

.is-round:active:hover {
  background-color: #428bca;
}

.is-padding-bottom-30 {
  padding-bottom: 30px;
}

.is-margin-bottom-15 {
  margin-bottom: 15px;
}

.is-margin-bottom-50 {
  margin-bottom: 50px;
}

.is-min-width-330 {
  min-width: 330px;
}

.well {
  margin-bottom: 10px !important;
  background-color: white !important;
  border-color: white !important;
}

.is-height-20 {
  height: 20px;
}

.is-padding-right-10 {
  padding-right: 10px;
}

.is-top-minus-100 {
  margin-top: -100px !important;

}

.is-bg-dark-blue-1 {
  background-color: #174271;
}

.is-bg-transparent {
  background-color: transparent;
}

.is-border-radius-5 {
  border-radius: 5px;
}

.is-border-15 {
  border: 1.5px solid white;
}

.is-no-outline {
  outline: none;
}

.is-bg-dark-blue-2 {
  background-color: #0d2e53;
}

.is-color-black {
  color: black !important;
}

.is-upper-case {
  text-transform: uppercase;
}

.is-margin-top-100 {
  margin-top: 150px;
}

.is-padding-10-10 {
  padding: 10px 10px 10px 10px;
}

.is-shadow {
  box-shadow: 0 0 20px black !important;
}

textarea {
  resize: none;
}

.is-button-shadow {
  box-shadow: 0 4px 2px -2px gray;
}

.is-left-border-black {
  border-left: 1px solid gainsboro !important;
}

.is-color-light-grey {
  color: #a1a1a1 !important;
}

.is-hover-dark:hover {
  background-color: #00254b !important;
  transition: 1s;
}

.is-border-radius-5 {
  border-radius: 5px;
}

.is-border-black-1 {
  border: 1px solid gainsboro !important;
}

.is-rounded-button {
  width: 100px !important;
  height: 100px;
  border-radius: 50%;
}

.tooltip {
  display: inline;
  position: relative;
}

.tooltip:hover:after {
  background: #333;
  background: rgba(0, 0, 0, .8);
  border-radius: 5px;
  bottom: 26px;
  color: #fff;
  content: attr(title);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px;
}

.is-absolute {
  position: absolute;
}

.is-top-minus-1090 {
  margin-top: -1090px;
}
.is-padding-bottom-5{
    padding-bottom: 5px!important;
}

@media screen and (min-width: 1000px) and (max-width: 1326px) {
  .is-timeline-second{
    margin: 0!important;
  }

}
@media screen and (min-width: 1444px) {
  .is-first{
    padding-bottom: 30px!important;
  }
  .is-timeline-third{
    padding-bottom: 20px;
  }

}
@media screen and (min-width: 1476px) {
  .is-first{
    padding-bottom: 30px!important;
  }
  .is-timeline-third{
    padding-bottom: 20px;
  }
  .is-timeline-fourth{
    padding-bottom: 40px!important;
  }




}